* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EBEAE7;
}

h1 {
    font-size: 45px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 40px;
}

content {
    position: absolute;
    margin-top: 146px;
    margin-left: 465px;
}

#navbar {
    position: absolute;
    background-color: #FBFBFB;
    width: 100%;
    height: 100px;
    padding-left: 400px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
}

#navbar span {
    margin-top: 13.5px;
    margin-left: 340px;
    color: #303030;
    font-size: 73px;
    cursor: pointer;
    transition: 300ms;
}

#navbar span:hover {
    color: #5C5C5C;
}

#sidebar {
    position: absolute;
    text-align: center;
    background-color: #65806D;
    width: 400px;
    height: 100%;
    box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.21);
}

#avatar {
    margin-top: 70px;
}

#sidebar h2 {
    margin-top: 31px;
    color: #FDFBED;
    font-size: 36px;
    font-weight: 600;
}

#sidebar h3 {
    color: #FDFBED;
    font-size: 25px;
    font-weight: normal;
}

#sidebar h4 {
    margin-top: 118px;
    margin-bottom: 34px;
    color: #FDFBED;
    font-size: 36px;
    font-weight: 600;
}

#sidebar span span {
    color: #FDFBED;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    transition: 300ms;
}

#sidebar span s {
    color: #C9C9C9;
    font-size: 30px;
    line-height: 50px;
    cursor: default;
    transition: 300ms;
}

#logout-side {
    color: #FDFBED;
    font-size: 116px;
    cursor: pointer;
    transition: 300ms;
}

#sidebar span span:hover, #logout-side:hover {
    color: #C9C9C9;
}

#reload {
    position: absolute;
    margin-top: -12px;
    margin-left: 1280px;
    cursor: pointer;
}

.question {
    background-color: #FBFBFB;
    width: 1373px;
    height: 217px;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    transition: 300ms;
    cursor: pointer;
}

.g:hover {
    background-color: #D7E6DB;
}

.b:hover {
    background-color: #D7E3E6;
}

.r:hover {
    background-color: #E6D7D7;
}

.question div {
    position: absolute;
    color: #FDFBED;
    width: 217px;
    height: 217px;
    border-radius: 30px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
}

.g div {
    background-color: #90B49A;
}

.b div {
    background-color: #90A8B4;
}

.r div {
    background-color: #B49090;
}

.name {
    position: absolute;
    margin-top: 23px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.answers {
    position: absolute;
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 33px;
    text-align: center;
    font-weight: 600;
}

.question h2 {
    position: absolute;
    margin-top: 19px;
    margin-left: 254px;
    color: #404040;
    font-size: 36px;
    font-weight: 600;
}

.question p {
    position: absolute;
    margin-top: 79px;
    margin-left: 254px;
    color: #404040;
    font-size: 30px;
}

@keyframes opacity-animation-1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes opacity-animation-2 {
    from {opacity: 1;}
    to {opacity: 0;}
}

.question p {
    overflow: hidden;
    word-break: break-word;
}

/* Hoverbox ask new question */

#blackscreen-question {
    display: none;
}


#blackscreen-anim-1-question {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-question {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-question {
    width: 1373px;
    height: 480px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-question {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-question {
    display: none;
}

#hoverbox-bg-anim-1-question {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-question {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Hoverbox login */

#blackscreen-login {
    display: none;
}


#blackscreen-anim-1-login {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-login {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-login {
    width: 850px;
    height: 417px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-login {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-login {
    display: none;
}

#hoverbox-bg-anim-1-login {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-login {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Hoverbox register */

#blackscreen-register {
    display: none;
}


#blackscreen-anim-1-register {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-register {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-register {
    width: 850px;
    height: 525px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-register {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-register {
    display: none;
}

#hoverbox-bg-anim-1-register {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-register {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Hoverbox edit account */

#blackscreen-edit-account {
    display: none;
}


#blackscreen-anim-1-edit-account {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-edit-account {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-edit-account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 529px;
    height: 103px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-edit-account {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-edit-account {
    display: none;
}

#hoverbox-bg-anim-1-edit-account {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-edit-account {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Inside the hoverboxes */

#question {
    position: fixed;
    outline: none;
    border: none;
    border-bottom: 2px solid #707070;
    margin-top: 50px;
    margin-left: 111px;
    width: 1150px;
    padding-bottom: 6px;
    font-size: 36px;
    color: #404040;
}

#description {
    position: fixed;
    outline: none;
    resize: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 120px;
    margin-left: 91px;
    width: 1191px;
    padding: 20px;
    font-size: 20px;
    color: #404040;
}

#done {
    position: fixed;
    border: none;
    margin-top: 380px;
    font-size: 66px;
    color: rgba(64, 64, 64, 0.26);
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

#done:hover {
    color: rgb(64, 64, 64);
}

#login-email {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#login-password {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 57px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#login-submit {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 114px;
    margin-left: 287px;
    width: 282px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

#login-submit:hover {
    color: #FBFBFB;
    background-color: #707070;
}

#register-username {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-email {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 45px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-password {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 90px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-password-check {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 135px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-submit {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 195px;
    margin-left: 287px;
    width: 282px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

#register-submit:hover {
    color: #FBFBFB;
    background-color: #707070;
}

#edit-account {
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}