* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EBEAE7;
}

content {
    position: absolute;
    margin-top: 146px;
    margin-left: 465px;
}

@keyframes opacity-animation-1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes opacity-animation-2 {
    from {opacity: 1;}
    to {opacity: 0;}
}


#navbar {
    position: fixed;
    background-color: #FBFBFB;
    width: 100%;
    height: 100px;
    padding-left: 400px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    z-index: 20;
}

#navbar span {
    margin-top: 13.5px;
    margin-left: 340px;
    color: #303030;
    font-size: 73px;
    cursor: pointer;
    transition: 300ms;
}

#navbar span:hover {
    color: #5C5C5C;
}

#sidebar {
    position: fixed;
    z-index: 21;
    text-align: center;
    background-color: #65806D;
    width: 400px;
    height: 100%;
    box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.21);
}

#avatar {
    margin-top: 70px;
}

#sidebar h2 {
    margin-top: 31px;
    color: #FDFBED;
    font-size: 36px;
    font-weight: 600;
}

#sidebar h3 {
    color: #FDFBED;
    font-size: 25px;
    font-weight: normal;
}

#sidebar h4 {
    margin-top: 118px;
    margin-bottom: 34px;
    color: #FDFBED;
    font-size: 36px;
    font-weight: 600;
}

#sidebar span span {
    color: #FDFBED;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    transition: 300ms;
}

#sidebar span s {
    color: #C9C9C9;
    font-size: 30px;
    line-height: 50px;
    cursor: default;
    transition: 300ms;
}

#logout-side {
    color: #FDFBED;
    font-size: 116px;
    cursor: pointer;
    transition: 300ms;
}

#sidebar span span:hover, #logout-side:hover {
    color: #C9C9C9;
}

.question {
    position: relative;
    background-color: #FBFBFB;
    width: 1373px;
    min-height: 300px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    z-index: 0;
}

.topic {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDFBED;
    width: 1373px;
    height: 68px;
    border-radius: 30px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    z-index: 2;
    background-color: #B49090;
}

.user {
    position: absolute;
    background-color: #a38989;
    min-height: inherit;
    width: 257px;
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    bottom: 0;
    top: 0;
}

.name {
    font-size: 30px;
}

.question p {
    position: relative;
    margin-left: 270px;
    padding: 18px;
    padding-top: 79px;
    color: #404040;
    font-size: 30px;
}

.user h3 {
    color: white;
    font-size: 25px;
}

.user span {
    color: white;
    font-size: 20px;
    text-align: center;
}

.user img {
    height: 125px;
    margin-top: 10px;
}

.answer {
    position: relative;
    min-height: 200px;
    height: auto;
    width: 1373px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
}

.answer p {
    margin-left: 270px;
    padding: 18px;
    color: #404040;
    font-size: 30px;
    word-break: break-word;
}

.anti-answer {
    font-size: 50px;
    text-align: center;
}

   /* Hoverbox login */

   #blackscreen-login {
    display: none;
}


#blackscreen-anim-1-login {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-login {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-login {
    width: 850px;
    height: 417px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-login {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-login {
    display: none;
}

#hoverbox-bg-anim-1-login {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-login {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Login Box CSS */

#login-email {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#login-password {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 57px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#login-submit {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 114px;
    margin-left: 287px;
    width: 282px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

#login-submit:hover {
    color: #FBFBFB;
    background-color: #707070;
}

/* Hoverbox register */

#blackscreen-register {
    display: none;
}


#blackscreen-anim-1-register {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-register {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-register {
    width: 850px;
    height: 525px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-register {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-register {
    display: none;
}

#hoverbox-bg-anim-1-register {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-register {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#register-username {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-email {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 45px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-password {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 90px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-password-check {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 135px;
    margin-left: 196px;
    width: 458px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
}

#register-submit {
    position: fixed;
    outline: none;
    border: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 195px;
    margin-left: 287px;
    width: 282px;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-size: 30px;
    color: #404040;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

#register-submit:hover {
    color: #FBFBFB;
    background-color: #707070;
}
/* Hoverbox ask new question */

#blackscreen-answer {
    display: none;
}


#blackscreen-anim-1-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
}

#blackscreen-anim-2-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-answer {
    width: 1373px;
    height: 480px;
    border-radius: 50px;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
    pointer-events: auto;
}

#hoverbox-bg-answer {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hoverbox-bg-answer {
    display: none;
}

#hoverbox-bg-anim-1-answer {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-1 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#hoverbox-bg-anim-2-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-animation-2 0.5s ease;
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#answer {
    position: fixed;
    outline: none;
    border: none;
    border-bottom: 2px solid #707070;
    margin-top: 50px;
    margin-left: 111px;
    width: 1150px;
    padding-bottom: 6px;
    font-size: 36px;
    color: #404040;
}

#description {
    position: fixed;
    outline: none;
    resize: none;
    border: 2px solid #707070;
    border-radius: 30px;
    margin-top: 120px;
    margin-left: 91px;
    width: 1191px;
    padding: 20px;
    font-size: 20px;
    color: #404040;
}

#done {
    position: fixed;
    border: none;
    margin-top: 380px;
    font-size: 66px;
    color: rgba(64, 64, 64, 0.26);
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

#done:hover {
    color: rgb(64, 64, 64);
}

    /* Hoverbox edit account */

    #blackscreen-edit-account {
        display: none;
    }


    #blackscreen-anim-1-edit-account {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: opacity-animation-1 0.5s ease;
		position: fixed;
		z-index: 98;
        background-color: rgba(0, 0, 0, 0.26);
        width: 100%;
        height: 100%;
    }

	#blackscreen-anim-2-edit-account {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: opacity-animation-2 0.5s ease;
		position: fixed;
		z-index: 98;
        background-color: rgba(0, 0, 0, 0.26);
        width: 100%;
        height: 100%;
		opacity: 0;
    }

    #hoverbox-edit-account {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 529px;
        height: 103px;
        border-radius: 50px;
        background-color: #FBFBFB;
        box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.16);
        pointer-events: auto;
    }

    #hoverbox-bg-edit-account {
        display: none;
		position: fixed;
		z-index: 99;
        background-color: transparent;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    #hoverbox-bg-edit-account {
        display: none;
    }

    #hoverbox-bg-anim-1-edit-account {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: opacity-animation-1 0.5s ease;
		position: fixed;
		z-index: 99;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

	#hoverbox-bg-anim-2-edit-account {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: opacity-animation-2 0.5s ease;
		position: fixed;
		z-index: 99;
        background-color: transparent;
        width: 100%;
        height: 100%;
		opacity: 0;
    }

    #edit-account {
        outline: none;
        border: none;
        border: 2px solid #707070;
        border-radius: 30px;
        width: 458px;
        padding: 6px;
        padding-left: 27px;
        padding-right: 27px;
        text-align: center;
        font-size: 30px;
        color: #404040;
    }

    .delete {
        float: right;
        margin-right: 20px;
        border: none;
        background-color: transparent;
    }